<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Kelly Salter</title>
</head>

<body>
  <div class="imageBack">
    <nav>
      <ul class="navBar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>

    <h1>Welcome to my website dedicated to the legendary surfer, Kelly Slater!</h1>
    <div class="card">
      <div class="aboutK">
        <h3>About Kelly Slater :</h3>

        <p>
          Kelly Slater, born on February 11, 1972, in Cocoa Beach, Florida, is an iconic figure in the world of surfing. From a young age, he fell in love with the ocean and the thrill of riding the waves. As he grew older, it became evident that he possessed an extraordinary talent for surfing.</p>
      </div>
      <div class="proK">
        <h3>Professional Career:</h3>
        <p> At the age of 18, Kelly Slater turned professional and quickly rose to prominence in the surfing community. Throughout his illustrious career, he has achieved an unprecedented 11 World Surfing Championships, cementing his status as one of the greatest surfers of all time. His innovative approach to surfing and progressive style have continually pushed the boundaries of the sport, inspiring surfers worldwide to reach new heights.</p>
      </div>
      <div class="Environ">
        <h3>Environmental Advocacy:</h3>
        <p>Beyond his accomplishments in the water, Kelly Slater is also a passionate advocate for ocean conservation and environmental sustainability. He actively raises awareness about the importance of protecting our marine ecosystems and preserving our oceans for future generations.
        </p>
      </div>
      <div class="lifeBe">
        <h3>Life Beyond Surfing:</h3>
        <p> Outside of the surfing arena, Kelly Slater has explored various interests, including acting and music. His diverse talents and unwavering dedication have made him a true role model, not just for surfers but for anyone aspiring to make a positive impact in their respective fields.

        </p>
      </div>
    </div>
</body>

</html>