<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Works</title>
</head>

<body>
  <div class="imageBack">
    <nav>
      <ul class="navBar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <h1>Kelly Slater's Important Works</h1>
    <p>Welcome to the "Works" page, where we explore some of the most significant milestones in the life and career of the legendary surfer, Kelly Slater.</p>
    <div class="aboutK">
      <h2>11x World Surfing Champion</h2>
      <p>Perhaps the crowning achievement of Kelly Slater's career is his remarkable 11 World Surfing Championships. Dominating the sport over two decades, he has proven himself as one of the most consistent and accomplished competitive surfers in history. Slater's World Titles reflect his enduring dedication, skill, and competitive spirit.</p>
    </div>
    <div class="proK">
      <h2>Pioneering New Maneuvers</h2>
      <p>Kelly Slater's influence on the sport extends beyond trophies and titles. Throughout his career, he has been a trailblazer in developing and popularizing new surfing maneuvers. From the "360" to the "Kelly Slater Flip," his innovative approach to surfing has inspired a new generation of surfers to push the boundaries of what's possible in the water.</p>
    </div>
    <div class="aboutK">
      <h2>Environmental Advocacy</h2>
      <p>As a passionate environmental advocate, Kelly Slater has used his platform to promote ocean conservation and raise awareness about the impacts of pollution on marine ecosystems. He founded "Outerknown," a sustainable clothing brand committed to environmentally conscious practices, showcasing his dedication to preserving the natural world he cherishes.</p>
    </div>
    <div class="proK">
      <h2>Contributions to Big Wave Surfing</h2>
      <p>In addition to his dominance in standard wave competitions, Kelly Slater has tackled some of the most challenging big wave spots around the globe. From Jaws in Hawaii to Teahupo'o in Tahiti, he has shown his versatility and courage, solidifying his reputation as a well-rounded waterman capable of handling any wave size.</p>
    </div>
    <div class="aboutK">

      <h2>Inspiring a Global Surfing Community</h2>
      <p>Beyond his impressive accomplishments, Kelly Slater's charisma and talent have united surfers worldwide. He has served as a mentor to young athletes, inspiring and nurturing future generations of surfers. His positive influence on the surfing community extends far beyond his competitive achievements.</p>
    </div>
  </div>
</body>


</html>